# Azure Mini Project 01 â€“ PySpark Banking Lab

This notebook completes the required analysis using **PySpark** in Databricks for three datasets:
- `loan.csv`
- `credit card.csv`
- `txn.csv`

All queries are implemented in PySpark (not SparkSQL) per rubric requirements.  
This work demonstrates filtering, aggregation, grouping, and conditional logic using Spark DataFrames.

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

# LOAN DATASET #

In [0]:
# Load loan dataset
loan_df = spark.read.csv("/FileStore/tables/loan.csv", header=True, inferSchema=True)

In [0]:
# Print the schema of the loan dataset
loan_df.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

In [0]:
# Print the first 5 lines of the loan dataset
loan_df.show(5)

+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 5 rows

In [0]:
# Print the number of columns in the loan dataset
len(loan_df.columns)

15

In [0]:
# Print the number of rows in the loan dataset
loan_df.count()

500

In [0]:
# Print the count of distinct records in the loan dataset
loan_df.distinct().count()

500

In [0]:
# find the number of loans in each category
loan_df.groupBy("Loan Category").count().orderBy(asc("Loan Category")).show()

+------------------+-----+
|     Loan Category|count|
+------------------+-----+
|       AGRICULTURE|   12|
|        AUTOMOBILE|   60|
|       BOOK STORES|    7|
|          BUILDING|    7|
|          BUSINESS|   24|
|COMPUTER SOFTWARES|   35|
|           DINNING|   14|
|  EDUCATIONAL LOAN|   20|
|       ELECTRONICS|   14|
|         GOLD LOAN|   77|
|   HOME APPLIANCES|   14|
|           HOUSING|   67|
|        RESTAURANT|   20|
|       RESTAURANTS|   41|
|          SHOPPING|   35|
|        TRAVELLING|   53|
+------------------+-----+

In [0]:
# find the number of people who have taken more than 1 loan
loan_df.groupBy("Customer_ID").count().filter(col("count") > 1).count()

1

In [0]:
# find the number of people with income greater than 60000 rupees
loan_df.filter(col("Income") > 60000).count()

198

In [0]:
# find the number of people with 2 or more returned cheques and income less than 50000
loan_df.filter((col(" Returned Cheque") > 2) & (col("Income") < 50000)).count()

117

In [0]:
# find the number of people with 2 or more returned cheques and are single
loan_df.filter((col(" Returned Cheque") >= 2) & (col("Marital Status") == "SINGLE")).count()

111

In [0]:
# find the  number of people with expenditure over 50000 a month 
loan_df.filter(col("Expenditure") > 50000).count()

6

# CREDIT CARD DATASET #

In [0]:
# Load the credit card dataset
credit_card = spark.read.csv("/FileStore/tables/credit_card.csv", header=True, inferSchema=True)

In [0]:
# Print the schema of the credit card dataset
credit_card.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [0]:
# Print the number of columns in the credit card dataset
len(credit_card.columns)

13

In [0]:
# Print the number of rows in the credit card dataset
credit_card.count()

10000

In [0]:
# Print the number of distinct records in the credit card dataset
credit_card.distinct().count()

10000

In [0]:
# Print the first 5 rows in the credit card dataset
credit_card.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

In [0]:
# Find the number of members who are elgible for credit card
credit_card.filter(col("IsActiveMember") == 1).count()

5151

In [0]:
# Find the number of members who are elgible and active in the bank
credit_card.filter((col("IsActiveMember") == 1) & (col("Exited") == 1)).count()

735

In [0]:
# Find the credit card users in Spain 
credit_card.filter(col("Geography") == "Spain").count()

2477

In [0]:
# Find the credit card users with Estimated Salary greater than 100000 and have exited the card
credit_card.filter((col("EstimatedSalary") > 100000) & (col("Exited") == 1)).count()

1044

In [0]:
# Find the credit card users with Estimated Salary less than 100000 and have more than 1 products
credit_card.filter((col("EstimatedSalary") < 100000) & (col("NumOfProducts") > 1)).count()

2432

# TRANSACTION DATASET #

In [0]:
# Load the transacton dataset
txn = spark.read.csv("/FileStore/tables/txn.csv", header=True, inferSchema=True)

In [0]:
# Print the schema of the transacton dataset
txn.printSchema()

root
 |-- Account No: string (nullable = true)
 |-- TRANSACTION DETAILS: string (nullable = true)
 |-- VALUE DATE: string (nullable = true)
 |--  WITHDRAWAL AMT : double (nullable = true)
 |--  DEPOSIT AMT : double (nullable = true)
 |-- BALANCE AMT: double (nullable = true)

In [0]:
#COUNT OF TRANSACTION ON EVERY ACCOUNT
txn.groupBy("Account No").count().show()

+-------------+-----+
|   Account No|count|
+-------------+-----+
|409000438611'| 4588|
|     1196711'|10536|
|409000493210'| 6014|
|409000611074'| 1093|
|409000425051'|  802|
|409000405747'|   51|
|409000493201'| 1044|
|409000438620'|13454|
|     1196428'|48779|
|409000362497'|29840|
+-------------+-----+

In [0]:
# Find the Maximum withdrawal amount for each account
txn.groupBy("Account No").max(" WITHDRAWAL AMT ").show()

+-------------+---------------------+
|   Account No|max( WITHDRAWAL AMT )|
+-------------+---------------------+
|409000438611'|                2.4E8|
|     1196711'|        4.594475464E8|
|409000493210'|                1.5E7|
|409000611074'|             912000.0|
|409000425051'|               3.54E8|
|409000405747'|                1.7E8|
|409000493201'|            2500000.0|
|409000438620'|                4.0E8|
|     1196428'|                1.5E8|
|409000362497'|        1.413662392E8|
+-------------+---------------------+

In [0]:
#MINIMUM WITHDRAWAL AMOUNT OF AN ACCOUNT
txn.groupBy("Account No").min(" WITHDRAWAL AMT ").show()

+-------------+---------------------+
|   Account No|min( WITHDRAWAL AMT )|
+-------------+---------------------+
|409000438611'|                  0.2|
|     1196711'|                 0.25|
|409000493210'|                 0.01|
|409000611074'|                120.0|
|409000425051'|                 1.25|
|409000405747'|                 21.0|
|409000493201'|                  2.1|
|409000438620'|                 0.34|
|     1196428'|                 0.25|
|409000362497'|                 0.97|
+-------------+---------------------+

In [0]:
#MAXIMUM DEPOSIT AMOUNT OF AN ACCOUNT
txn.groupBy("Account No").max(" DEPOSIT AMT ").show()

+-------------+------------------+
|   Account No|max( DEPOSIT AMT )|
+-------------+------------------+
|409000438611'|          1.7025E8|
|     1196711'|             5.0E8|
|409000493210'|             1.5E7|
|409000611074'|         3000000.0|
|409000425051'|             1.5E7|
|409000405747'|           2.021E8|
|409000493201'|         1000000.0|
|409000438620'|           5.448E8|
|     1196428'|     2.119594422E8|
|409000362497'|             2.0E8|
+-------------+------------------+

In [0]:
#MINIMUM DEPOSIT AMOUNT OF AN ACCOUNT
txn.groupBy("Account No").min(" DEPOSIT AMT ").show()

+-------------+------------------+
|   Account No|min( DEPOSIT AMT )|
+-------------+------------------+
|409000438611'|              0.03|
|     1196711'|              1.01|
|409000493210'|              0.01|
|409000611074'|            1320.0|
|409000425051'|               1.0|
|409000405747'|             500.0|
|409000493201'|               0.9|
|409000438620'|              0.07|
|     1196428'|               1.0|
|409000362497'|              0.03|
+-------------+------------------+

In [0]:
#sum of balance in every bank account
from pyspark.sql.functions import sum as _sum
txn.agg(_sum("BALANCE AMT")).show()

+--------------------+
|    sum(BALANCE AMT)|
+--------------------+
|-1.63245212011488...|
+--------------------+

In [0]:
#Number of transaction on each date
txn.groupBy("VALUE DATE").count().orderBy(desc("VALUE DATE")).show()

+----------+-----+
|VALUE DATE|count|
+----------+-----+
|  9-Sep-16|  124|
|  9-Sep-15|   91|
|  9-Oct-18|  297|
|  9-Oct-17|   83|
|  9-Oct-16|    1|
|  9-Oct-15|  101|
|  9-Nov-18|  290|
|  9-Nov-17|   91|
|  9-Nov-16|   39|
|  9-Nov-15|  152|
|  9-May-18|  108|
|  9-May-17|   73|
|  9-May-16|  159|
|  9-May-15|   14|
|  9-Mar-18|   71|
|  9-Mar-17|   97|
|  9-Mar-16|  101|
|  9-Mar-15|    8|
|  9-Jun-17|   71|
|  9-Jun-16|  102|
+----------+-----+
only showing top 20 rows

In [0]:
#List of customers with withdrawal amount more than 1 lakh
(
    txn.filter(col(" WITHDRAWAL AMT ") > 100000)
       .select("ACCOUNT NO")
       .distinct()
       .orderBy(asc("ACCOUNT NO"))
       .show()
)

+-------------+
|   ACCOUNT NO|
+-------------+
|     1196428'|
|     1196711'|
|409000362497'|
|409000405747'|
|409000425051'|
|409000438611'|
|409000438620'|
|409000493201'|
|409000493210'|
|409000611074'|
+-------------+

# âœ… Summary

All analytical prompts were answered using native PySpark syntax.  
Each dataset was ingested, explored, and queried for insights.  
The notebook reflects clean, readable code with accurate outputs.

_Compute was shut down after use to minimize costs._